@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");
*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Plus Jakarta Display";
}

:root {
  --res: calc(0.1 * 1vmin);
}
button{
  cursor: pointer;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
  background: url("bg.jpeg") no-repeat center center /cover;
  justify-content: center;
  position: relative;
}

body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.822); 
  z-index: -1;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  gap: 2vmin;
  z-index: 99;

}

header{
  width: 95%;
  height: 150px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1vmin;
}


header button {
  background: linear-gradient(152.2deg,#FFAD74, #FF8B2E);
  padding: 12px 20px;
  border-radius: 12px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: max(calc(12 * var(--res)), 12px);
}

header button:hover {
  background: linear-gradient(192.2deg,#ffae74c7 , rgba(255, 140, 46, 0.589));
}





main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 55%;
  justify-content: center;
  max-width: 1400px;
  align-items: center;
}

main img {
  width: max(calc(440 * var(--res)), 450px);
}

.title{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heads{
  width: 100%;
  height: 35%;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heads button {
  background: linear-gradient(152.2deg,#e174ff, #b157c9);
  border-radius: 12px;
  color: rgb(255, 255, 255);
  width: 10%;
  height: 25%;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: max(calc(12 * var(--res)), 12px);
}

.heads button:hover {
  background: linear-gradient(152.2deg,#e174ffba, rgba(176, 87, 201, 0.701));
}


.input{
  width: 100%;
  height: 35%;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.input input{
  background: linear-gradient(152.2deg,#e174ff16, #b057c914);
  width: 30%;
  color: white;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b157c9;
  padding-left: 1.5rem;
  border-radius: 4px;
  outline: none;
}

.button-inp{
  width: 30%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.button-inp button {
  background: linear-gradient(152.2deg,#e174ff, #b157c9);
  border-radius: 8px;
  color: rgb(255, 255, 255);
  width: 20%;
  height: 50%;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: max(calc(12 * var(--res)), 12px);
}

.button-inp  button:hover {
  background: linear-gradient(152.2deg,#e174ffba, rgba(176, 87, 201, 0.701));
}


.flip{
  display: flex;
  width: 30%;
  height: 15%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flip button{
  width: 70%;
  height: 90%;
  font-size: max(calc(16 * var(--res)), 12px);
  background: linear-gradient(152.2deg,#FFAD74, #FF8B2E);
  color: white;
  border: none;
  border-radius: 10px;
}

.flip button:hover{
  background: linear-gradient(152.2deg,#ffae74b8, #FF8B2E);

}


@media screen and (max-width: 450px) {
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
   
    align-items: center;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    z-index: 99;
  }

  .paragraph {
    display: flex;
    width: 98%;
    z-index: 99;

    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .paragraph p {
    font-size: max(calc(18 * var(--res)), 16px);
    color: #9a9fae;
  }

}
